li {
    list-style-type: none;
}

.line {}

.thumb {
    padding-left: $thumb-separation;

    border: 0.372em solid $oc-gray-8;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}

.action {
    padding: 0.35rem $thumb-separation;

    font-size: 95%;

    overflow: hidden;

    ul {
        display: flex;

        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    &.focus {
        height: 100%;
    }
}

.card {
    padding: 0.2em 0.45em;

    border-radius: 0.35em;
}

.command-string {
    padding-block: $commandline-string-padding;

    font-weight: normal;
}

.command-list {}

.command {
    font-family: 'Ubuntu Mono', monospaced;
}

.command-action-list {
    .installed {
        background-color: $oc-lime-1;
        border-color: $oc-lime-8;

        .card {
            background-color: $oc-lime-3;
        }
    }
    .updated {
        background-color: $oc-blue-1;
        border-color: $oc-blue-7;

        .card {
            background-color: $oc-blue-2;
        }
    }
    .removed {
        background-color: $oc-red-1;
        border-color: $oc-red-7;

        .card {
            background-color: $oc-red-2;
        }
    }
}

&:empty::after {
    content: 'No logs to display...';

    display: block;

    padding-block: 1em;

    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: $oc-gray-5;
}