.day-group {
    display: flex;
}

.day-label {
    display: flex;

    padding-inline: calc($thumb-separation * 2) $thumb-separation;
    padding-block: $commandline-string-padding;

    justify-content: end;

    font-family: 'Ubuntu', sans-serif;
    color: $oc-gray-7;
    font-size: clamp(0.75em, 2vw, 1.075em);
    font-weight: normal;
    white-space: nowrap;
}